.vibe-container {
  background: linear-gradient(
    to bottom right,
    var(--primary-color),
    var(--secondary-color)
  );
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 50px;
}

.vibe-container-text-wrapper {
  height: 100%;
  position: relative;
}

.vibe-container-text {
  color: white;
  font-weight: bolder;
  font-size: 2.25rem;
  font-family: Garamond, Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
